.dashboard {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.main {
  height: 100%;
}
.content {
  background: #f2f4f7;
  width: 100%;
  height: 100%;
  padding-bottom: 3rem;
  overflow-y: auto;
}
aside {
  padding-bottom: 3rem;
  nav {
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    color: #d0d5dd;
    height: 100%;
    width: 216px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(176.9deg, #3b82f6 0%, #1d4ed8 100%);
    overflow: auto;
    padding: 2rem 0;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      .logo {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          height: 3rem;
          width: 3rem;
          object-fit: contain;
        }
      }
    }

    .options {
      margin-top: 4rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      color: #d0d5dd !important;
      overflow-y: auto;
      overflow-x: hidden;
      div {
        width: 90%;
      }
      .options__option {
        width: 100%;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 4px;
        text-decoration: none;
        justify-content: center;

        svg {
          width: 15px;
        }
      }
    }
    .collapsing-bar {
      margin-right: 2rem;
    }
  }
  a {
    text-decoration: none;
    color: #d0d5dd;
    display: flex;
    align-items: center;
    gap: 0.45rem;
    padding: 0.5rem;
    margin: 0.25rem 0rem;
  }
  .navbar-menu-sub {
    list-style: none;
    padding: 3px;
  }
  .navbar-menu-sub .nav-sub-item + .nav-sub-item {
    margin-top: 5px;
  }

  p {
    margin: 0;
  }
  a:focus,
  .active-link {
    background: rgba(147, 197, 253, 0.25) !important;
    border-left: 2px solid #93c5fd !important;
  }

  .nav-links {
    min-width: 200px;
    list-style: none;
    border-left: 1px solid rgba(72, 94, 144, 0.16);
    font-size: 15px;
    margin-left: 1rem;
    .navbar-menu-sub {
      .nav-sub-link {
        font-size: 14px;
        color: #d0d5dd;
        mat-icon {
          font-size: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

.collapse {
  visibility: visible;
}
p {
  padding: 8px 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #93c5fd;
}
