<header class="form-page__header">
  <div>
    <h1 class="section-header__title">{{ isEditMode ? 'Edit Attendance' : 'Add Attendance' }}</h1>
    <p class="section-header__description">Capture clock-in, clock-out, and attendance status.</p>
  </div>

  <a class="btn btn-outline-secondary" routerLink="../">Back</a>
</header>

<section class="form-page__content">
  <fieldset class="form-fieldset">
    <legend class="form-fieldset__legend">Attendance Details</legend>
    <p class="form-fieldset__description">The attendance form will be added here.</p>
  </fieldset>
</section>
